@use './variables' as *;

#about{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding-block: 5rem;
    flex-wrap: wrap;

    .title{
        position: relative;
        flex-basis: 100%;
        text-align: center;
        margin-bottom: 7rem;
    }

    .bio{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: auto;
        flex-basis: 30%;

        .bio-leng{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            position: relative;
            width: 70%;
            max-width: 20rem;
            p{
                font-size: .8rem;
            }

            .bio-length-title{
                grid-column: span 2;
                margin-bottom: 2.5rem;
            }


            .points{
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
                grid-row: 2;
                grid-column: span 4;
                column-gap: 25%;

                .pnts{
                    width: 1.1rem;
                    height: 1.1rem;
                    border-radius: 50%;
                    border: 1.5px solid $pnt-bg;
                    cursor: pointer;
                    &:hover{
                        background-color: $pnt-bg;
                    }
                }
                .selected-pnt{
                    background-color: $pnt-bg;
                }
            }


            .shortest{
                grid-row: 3;
                margin-top: 1rem;
                grid-column: span 2;
                margin-right: auto;
                font-variant-: normal;
            }
            .longest{
                grid-row: 3;
                margin-top: 1rem;
                grid-column: span 2;
                margin-left: auto;
            }
        }


        .bio-cont{
            width: 35rem;
            margin-block: 3rem 5rem;
            font-size: 1.5rem;
            font-weight: 300;
            text-align: center;

            
            .conc{
                font-size: 1.5rem;
                font-weight: 400;
            }
        }


        .connect{
            display: grid;
            grid-template-columns: repeat(2, 50%);
            margin: auto;
            width: 50%;


            p{
                margin-bottom: 1rem;
                grid-column: span 2;
                width: 100%;
                text-align: center;
            }

            .social-media-icons{
                display: inline;
                width: 5.5rem;
                height: 5.5rem;
                border-radius: 50%;
                background-color: $pnt-bg;
                cursor: pointer;
                padding: 1rem;
                margin: auto;

                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }




    .images{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        max-width: 30rem;
        margin: auto;

        img{
            width: 30rem;
            height: 30rem;
            object-fit: cover;
        }

        .image-links{
            margin-block: 1rem;
            width: 100%;
        }

        .image-changer{
            display: flex;
            flex-direction: row;
            width: 30rem;

            img{
                width: 4rem;
                height: 4rem;
                margin: auto;
                cursor: pointer;

                &:first-child{
                    margin-left: 0;
                }
                &:last-child{
                    margin-right: 0;
                }
            }


        }
    }
}
@import './about-media'