@use './variables' as *;

#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 7rem;
    display: none;


    h1{
        font-size: 3rem;
        margin-bottom: 3rem;
    }


    form{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
        max-width: 40rem;
        gap: 1rem;

        .form-group{
            width: 100%;
            p{
                margin-bottom: .2rem;
            }
            input,textarea{
                width: 100%;
            }
        }

        .email{
            grid-row: 2;
            grid-column: span 2;
        }

        .message{
            grid-row: 3;
            grid-column: span 2;
            textarea{
                padding: .5rem;
                height: 9rem;
            }
        }

        .sbmt{
            grid-column: span 2;
            height: 2.5rem;
            border-radius: .5rem;
            background-color: $btn-bg;
            color: white;
            border: none;
        }

    }
}






