@use './variables' as *;

#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 5rem;
    background-color: $home-bg ;
    
    h1{
        margin-bottom: 5rem;
        font-size: min(5rem, 7vw );
    }
    

    form{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 90%;
        max-width: 40rem;
        row-gap: 2rem;
        column-gap: 1rem;

        .form-group{
            width: 100%;
            p{
                margin-bottom: .2rem;
            }
            input,textarea{
                width: 100%;
            }
        }

        .email{
            grid-row: 2;
            grid-column: span 2;
        }

        .message{
            grid-row: 3;
            grid-column: span 2;
            textarea{
                height: 9rem;
                padding-block: .5rem;
            }
        }

        .sbmt{
            grid-column: span 2;
            height: 2.5rem;
            border-radius: .5rem;
            background-color: $btn-bg;
            transition: background .3s ease;
            color: white;
            border: none;
            cursor: pointer;

            &:hover,:focus,:focus-within{
                background: rgb(0, 42, 179);
            }
        }

    }
}






