@use './variables' as *;


.secondary{
    color: $sec-txt;
}

input,textarea{
    border-radius: .4rem;
    height: 3rem;
    text-indent: 1rem;
    font-size: 1.2rem;
    border: 1px solid $sec-txt;
    &:focus,:active{
        outline-color: $input-brd;
        border-color: $input-brd;
    }
}


.title{
    font-size: 5rem;
    margin-bottom: 1rem;
}

.rotateBtn{
    animation: rotateBtn .3s ease forwards;
    transform-origin: center;
}

@keyframes rotateBtn {
    0%{
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}


section:not(.home){
    padding-block: 10rem;
}
#contact{
    margin-bottom: 0;
}