@use './variables' as *;

.home{
    display: flex;
    position: relative;
    width: 100%;
    height: 95%;
    flex-direction: column;
    align-items: center;
    display: none;


    img{
        width: 90%;
        max-width: 50rem;
    }

    .some-txt{
        margin-top: .2rem;
    }

    .refresh{
        width: 3rem;
        height: 3rem;
        position: absolute;
        cursor: pointer;
        background-color: white;
        padding: .5rem;
        border-radius: 3rem;
        left: 50%;
        top: 90%;
        transform: translate(-50%, -50%);
    }


    canvas{
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
    }
}
