@use './variables' as *;

.home{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: $home-bg;
    flex-direction: column;
    align-items: center;
    
    img{
        width: 90%;
        max-width: 50rem;
    }

    .some-txt{
        margin-top: .2rem;
    }

}
