@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: Roboto, "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

header {
  margin-bottom: 8rem;
  height: 5rem;
  width: 100%;
  background-color: black;
  border-bottom: 3px solid #961D6E;
  color: white;
  padding-inline: 2% 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
header .logo {
  margin-right: auto;
  cursor: pointer;
  height: 3.5rem;
  flex-basis: 5%;
}
header .navigation {
  margin-left: auto;
  display: flex;
  flex-direction: row;
}
header .navigation a {
  padding-inline: 0.5rem;
  cursor: pointer;
  transition: color 0.5s ease;
  text-decoration: none;
  color: white;
}
header .navigation a:hover {
  color: #FFE742;
}

.home {
  display: flex;
  position: relative;
  width: 100%;
  height: 98%;
  flex-direction: column;
  align-items: center;
}
.home img {
  width: 90%;
  max-width: 50rem;
}
.home .some-txt {
  margin-top: 0.2rem;
}
.home .refresh {
  width: 3rem;
  height: 3rem;
  position: absolute;
  cursor: pointer;
  padding: 0.5rem;
  left: 50%;
  top: 90%;
  transform: translate(-50%, -50%);
}
.home canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}

#about {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding-block: 5rem;
  flex-wrap: wrap;
}
#about .title {
  position: relative;
  flex-basis: 100%;
  text-align: center;
  margin-bottom: 7rem;
}
#about .bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: auto;
  flex-basis: 30%;
}
#about .bio .bio-leng {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
  width: 70%;
  max-width: 20rem;
}
#about .bio .bio-leng p {
  font-size: 0.8rem;
}
#about .bio .bio-leng .bio-length-title {
  grid-column: span 2;
  margin-bottom: 2.5rem;
}
#about .bio .bio-leng .points {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  grid-row: 2;
  grid-column: span 4;
  column-gap: 25%;
}
#about .bio .bio-leng .points .pnts {
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 50%;
  border: 1.5px solid #FF87D7;
  cursor: pointer;
}
#about .bio .bio-leng .points .pnts:hover {
  background-color: #FF87D7;
}
#about .bio .bio-leng .points .selected-pnt {
  background-color: #FF87D7;
}
#about .bio .bio-leng .shortest {
  grid-row: 3;
  margin-top: 1rem;
  grid-column: span 2;
  margin-right: auto;
  font-variant-: normal;
}
#about .bio .bio-leng .longest {
  grid-row: 3;
  margin-top: 1rem;
  grid-column: span 2;
  margin-left: auto;
}
#about .bio .bio-cont {
  width: 35rem;
  margin-block: 3rem 5rem;
  font-size: 1.5rem;
  font-weight: 300;
  text-align: center;
}
#about .bio .bio-cont .conc {
  font-size: 1.5rem;
  font-weight: 400;
}
#about .bio .connect {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  margin: auto;
  width: 50%;
}
#about .bio .connect p {
  margin-bottom: 1rem;
  grid-column: span 2;
  width: 100%;
  text-align: center;
}
#about .bio .connect .social-media-icons {
  display: inline;
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
  background-color: #FF87D7;
  cursor: pointer;
  padding: 1rem;
  margin: auto;
}
#about .bio .connect .social-media-icons img {
  width: 100%;
  height: 100%;
}
#about .images {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 30rem;
  margin: auto;
}
#about .images img {
  width: 30rem;
  height: 30rem;
  object-fit: cover;
}
#about .images .image-links {
  margin-block: 1rem;
  width: 100%;
}
#about .images .image-changer {
  display: flex;
  flex-direction: row;
  width: 30rem;
}
#about .images .image-changer img {
  width: 4rem;
  height: 4rem;
  margin: auto;
  cursor: pointer;
}
#about .images .image-changer img:first-child {
  margin-left: 0;
}
#about .images .image-changer img:last-child {
  margin-right: 0;
}

@media (max-width: 954px) {
  #about {
    height: fit-content;
    flex-direction: column;
  }
  #about .bio {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-inline: auto;
    margin-block: 5rem;
  }
  #about .bio .bio-leng {
    width: 70%;
    max-width: 30rem;
  }
  #about .bio .bio-cont .conc {
    font-size: 1.5rem;
    font-weight: 400;
  }
  #about .images {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 5rem auto;
  }
}
#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  row-gap: 10rem;
}
#projects .title {
  text-align: center;
  font-size: min(6rem, 15vw);
  text-transform: uppercase;
}
#projects .project, #projects .reverse {
  display: flex;
  flex-direction: row;
  width: 90%;
  column-gap: 3rem;
}
#projects .project .project-content, #projects .reverse .project-content {
  width: 100%;
  flex-basis: 90%;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}
#projects .project .project-content .project-name, #projects .reverse .project-content .project-name {
  font-size: 4rem;
  font-weight: bold;
}
#projects .project .project-content .project-description, #projects .reverse .project-content .project-description {
  position: relative;
  transform: scale(1.2);
  transform-origin: left;
  background-color: rgb(6, 0, 59);
  padding: 0.5rem 1rem;
  color: rgb(0, 234, 255);
}
#projects .project .project-content .project-tags, #projects .reverse .project-content .project-tags {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  flex-wrap: wrap;
}
#projects .project .project-content .project-tags .tag, #projects .reverse .project-content .project-tags .tag {
  background-color: #7F8390;
  padding: 0.2rem 0.5rem;
  color: white;
  user-select: none;
}
#projects .project .project-content .links, #projects .reverse .project-content .links {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
}
#projects .project .project-content .links img, #projects .reverse .project-content .links img {
  width: 2rem;
  transition: transform 0.2s ease-in;
  transform-origin: bottom;
}
#projects .project .project-content .links img:hover, #projects .reverse .project-content .links img:hover {
  transform: scale(1.2);
}
#projects .project img, #projects .reverse img {
  flex-basis: 0%;
  width: 60%;
}
#projects .reverse {
  flex-direction: row-reverse;
}
#projects .reverse .project-content .project-name {
  text-align: right;
}
#projects .reverse .project-content .project-description {
  text-align: right;
  transform-origin: right;
}
#projects .reverse .project-content .project-tags {
  margin-left: auto;
}
#projects .reverse .project-content .links {
  margin-left: auto;
}

@media (max-width: 975px) {
  #projects .title {
    text-align: center;
    font-size: min(6rem, 15vw);
    text-transform: uppercase;
  }
  #projects .project, #projects .reverse {
    flex-direction: column-reverse;
    row-gap: 3rem;
  }
  #projects .project .project-content, #projects .reverse .project-content {
    width: 100%;
    row-gap: 1.5rem;
  }
  #projects .project .project-content .project-name, #projects .reverse .project-content .project-name {
    text-align: center;
    font-size: min(4rem, 10vw);
  }
  #projects .project .project-content .project-description, #projects .reverse .project-content .project-description {
    color: rgb(167, 167, 167);
    transform: scale(1);
    background-color: transparent;
    text-align: center;
    padding: 0.5rem 1rem;
  }
  #projects .project .project-content .project-tags, #projects .reverse .project-content .project-tags {
    margin: auto;
  }
  #projects .project .project-content .links, #projects .reverse .project-content .links {
    margin: auto;
  }
  #projects .project img, #projects .reverse img {
    width: 100%;
  }
  #projects .reverse {
    flex-direction: column-reverse;
  }
}
#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 5rem;
  background-color: #FFE742;
}
#contact h1 {
  margin-bottom: 5rem;
  font-size: min(5rem, 7vw);
}
#contact form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 90%;
  max-width: 40rem;
  row-gap: 2rem;
  column-gap: 1rem;
}
#contact form .form-group {
  width: 100%;
}
#contact form .form-group p {
  margin-bottom: 0.2rem;
}
#contact form .form-group input, #contact form .form-group textarea {
  width: 100%;
}
#contact form .email {
  grid-row: 2;
  grid-column: span 2;
}
#contact form .message {
  grid-row: 3;
  grid-column: span 2;
}
#contact form .message textarea {
  height: 9rem;
  padding-block: 0.5rem;
}
#contact form .sbmt {
  grid-column: span 2;
  height: 2.5rem;
  border-radius: 0.5rem;
  background-color: rgb(0, 60, 255);
  transition: background 0.3s ease;
  color: white;
  border: none;
  cursor: pointer;
}
#contact form .sbmt:hover, #contact form .sbmt :focus, #contact form .sbmt :focus-within {
  background: rgb(0, 42, 179);
}

.secondary {
  color: #7F8390;
}

input, textarea {
  border-radius: 0.4rem;
  height: 3rem;
  text-indent: 1rem;
  font-size: 1.2rem;
  border: 1px solid #7F8390;
}
input:focus, input :active, textarea:focus, textarea :active {
  outline-color: rgb(0, 161, 215);
  border-color: rgb(0, 161, 215);
}

.title {
  font-size: 5rem;
  margin-bottom: 2rem;
  color: rgb(0, 60, 255);
}

.section {
  margin-top: 10rem;
}

.rotateBtn {
  animation: rotateBtn 0.3s ease forwards;
  transform-origin: center;
}

@keyframes rotateBtn {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}
section:not(.home) {
  padding-block: 10rem;
}

/*# sourceMappingURL=style.css.map */
